    <h2 class="text-center" style="padding-top: 3%;">MostPopular</h2>
    <div class="me-5 row div" >
    <table class="fl-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Address</th>
                <th>Administrator</th>
                <th>Reservations</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let hotel of hotels">
                <td>{{hotel.hotel.name}}</td>
                <td>{{hotel.hotel.description}} </td>
                <td>{{hotel.hotel.address}}</td>
                <td>{{hotel.hotel.administrator.name}}</td>
                <td>{{hotel.reservations}}</td>
            </tr>
        <tbody>
    </table>
        <canvas baseChart [data]="pieChartData" [type]="pieChartType" [options]="pieChartOptions" class=" mt-5 grafica">
        </canvas>
    </div>